#sample {
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 650px;
    height: 300px;
}

#to {
    position: absolute;
    bottom: 280px;
    right: 730px;
    width: 30px;
    height: 20px;
    font-size: x-small;
}

#comma {
    position: absolute;
    bottom: 280px;
    right: 700px;
    width: 30px;
    height: 20px;
    font-size: x-small;
}

#peroid {
    position: absolute;
    bottom: 260px;
    right: 730px;
    width: 30px;
    height: 20px;
    font-size: x-small;
}

#copier {
    position: absolute;
    bottom: 70px;
    right: 700px;
    width: 60px;
    height: 40px;
    font-size: x-small;
}

#clear {
    position: absolute;
    bottom: 10px;
    right: 700px;
    width: 60px;
    height: 40px;
    font-size: x-small;
}

#image_container {
    position: absolute;
    align-items: center;
    top: 10px;
    right: 30px;
    max-width: 700px;
    max-height: 400px;
  }

.selector {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 99%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
  }

  .lithology_options {
    text-align: center;
  }

  .lithology {
    height: 30px;
    width: 80px;
    background-color: lightgrey;
    color: transparent;
    font-size: 10pt;
    outline: black;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    position: relative;
  }

  #shale {
    background-image: url(./images/images/shalebtn.png);
  }

  #siltstone {
    background-image: url(./images/images/siltbtn.png);
  }

  #sandstone {
    background-image: url(./images/images/Sandstonebtn.png);
  }

  #limestone {
    background-image: url(./images/images/limebtn.png);
  }

  #dolomite {
    background-image: url(./images/images/dolbtn.png);
  }

  #gypsum {
    background-image: url(./images/images/gypbtn.png);
  }

  #evaporite {
    background-image: url(./images/images/evpbtn.png);
  }

  h1 {
    font-size: medium;
    text-align: center;
  }

  h2 {
    font-size: medium;
    text-align: center;
  }

  .color_options {
    text-align: center;
  }

  #color {
    width: 15px;
    height: 30px;
    display: inline-flex;
  }

  .color_white {
    width: 15px;
    height: 30px;
    background: white;
    color: transparent;
  }

  .color_off_white {
    width: 15px;
    height: 30px;
    background: #F8F0E3;
    color: transparent;
  }

  .color_v_lightGrey {
    width: 15px;
    height: 30px;
    background:   #e5e7e9;
    color: transparent;
  }

  .color_lightGrey {
    width: 15px;
    height: 30px;
    background: lightgray;
    color: transparent;
  }

  .color_medGrey {
    width: 15px;
    height: 30px;
    background:   #bdc3c7;
    color: transparent;
  }

  .color_Grey {
    width: 15px;
    height: 30px;
    background:  #909497;
    color: transparent;
  }

  .color_drkGrey {
    width: 15px;
    height: 30px;
    background:  #626567;
    color: transparent;
  }

  .color_gyshblk {
    width: 15px;
    height: 30px;
    background:  #212f3d;
    color: transparent;
  }

  .color_black {
    width: 15px;
    height: 30px;
    background: black;
    color: transparent;
  }

  .color_crm {
    width: 15px;
    height: 30px;
    background: #FFFDD0;
    color: transparent;
  }

  .color_tan {
    width: 15px;
    height: 30px;
    background: tan;
    color: transparent;
  }

  .color_ltbrn {
    width: 15px;
    height: 30px;
    background: #C19A6B;
    color: transparent;
  }

  .color_brn {
    width: 15px;
    height: 30px;
    background: #6F4E37;
    color: transparent;
  }

  .color_redish_brown {
    width: 15px;
    height: 30px;
    background: brown;
    color: transparent;
  }

  .color_dyel {
    width: 15px;
    height: 30px;
    background: lightgoldenrodyellow;
    color: transparent;
  }

  .color_byel {
    width: 15px;
    height: 30px;
    background: yellow;
    color: transparent;
  }

  .color_blue {
    width: 15px;
    height: 30px;
    background: lightskyblue;
    color: transparent;
  }

  .color_green {
    width: 15px;
    height: 30px;
    background: lightgreen;
    color: transparent;
  }
  
  /* image stuff*/

  .pick {
      background-repeat: no-repeat;
      background-position: center;
      width: 0;
      height: 0;
    }

    .pick[title] {
        position: absolute;
        align-items: center;
        top: 0px;
        right: 0px;
        width: 700px;
        height: 400px;
    }

    .pick[title="shaledis"] {
        background-image: url("./images/images/shale_discribtion.png");
      }

    .pick[title="rock"] {
      background-image: url("https://svgshare.com/i/_8h.svg");
    }
    .pick[title="paper"] {
      background-image: url('./images/images/Unconsolidated_Sandstone.png');
    }
    .pick[title="scissors"] {
      background-image: url("https://svgshare.com/i/_9X.svg");
    }


